@import 'https://fonts.googleapis.com/css?family=Acme';
@import 'https://fonts.googleapis.com/css?family=Hammersmith+One';
@import 'https://fonts.googleapis.com/css?family=Jomhuria';
@import 'https://fonts.googleapis.com/css?family=Londrina+Solid';
@import 'https://fonts.googleapis.com/css?family=Patua+One';
@import 'https://fonts.googleapis.com/css?family=Signika+Negative';
@import 'https://fonts.googleapis.com/css?family=Viga';
@import 'https://fonts.googleapis.com/css?family=Alice';

body
{
	background-color: rgb(60, 60, 50);
	/*font-family: "Open Sans";*/
	/*font-family: "Trebuchet MS", "Georgia", "Palatino", "Palatino Linotype";*/
	font-size: 16px;

	/*font-size: 18px;
	font-family: 'Patua One', cursive;*/

	/*font-size: 16px;
	font-family: 'Hammersmith One', sans-serif;*/

	/*font-size: 24px;
	font-family: 'Jomhuria', cursive;*/

	/*font-size: 18px;
	font-family: 'Alice', serif;
	font-weight: 500;*/

	/*font-size: 18px;
	font-family: 'Signika Negative', sans-serif;*/

	/*font-size: 16px;
	font-family: 'Viga', sans-serif;*/

	/*font-size: 18px;
	font-family: 'Londrina Solid', cursive;*/

	font-size: 18px;
	font-family: 'Acme', sans-serif;
}

#page
{
	width: 40em;
	margin: auto;
	background-image: url("PageBackground.png");
	background-size: 100%;
}

#content
{
	padding: 0 5em;
	margin: auto;
	line-height: 1.5;
	text-align: justify;
}

h1
{
	margin: 1em 1em;
	line-height: 1.5em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);

	color: rgb(100, 75, 10);
	text-shadow: 0px 0px 1em rgba(255, 255, 255, 1);
}

p
{
	/*color: rgb(40, 32, 5);*/
	color: rgb(32, 24, 4);
}

code
{
	font-size: 0.9em;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 0.15em 0.25em;
	border: 1px solid rgb(75, 75, 75);
	border-radius: 0.5em;
}

.title, .subtitle
{
	margin: 0;
	padding: 1em 0;
	font-family: "Palatino Linotype", "Georgia";
	font-size: 4.0em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.1em;
	color: rgb(0, 0, 0);
	text-shadow: 0px 0px 0.5em rgba(255, 255, 255, 1);
}

.subtitle
{
	font-size: 2.5em;
	text-transform: none;
}

@media print
{
    .page_break
    {
    	page-break-after: always;
    }
}

@media screen
{
	.page_break
    {
    	margin-top: 30em;
    }
}

.center
{
	text-align: center;
}

.speechIcon
{
	display: inline-block;
	background-image: url('./speech.png');
	width: 24px;
	height: 19px;
	vertical-align: text-bottom;
}

.speechText
{
	margin-right: 0.5em;
	font-weight: bold;
}